html, body{
    height: 100vh;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: auto 27% 27% 27%;
    grid-template-rows: 8% 30% auto 10%;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar sec1 sec2 sec3"
        "sidebar main main main"
        "sidebar footer footer footer";
}

aside{
    grid-area: sidebar;
    background-color: #007FFF;
}

header{
    grid-area: header;
    background-color:#91C8FF;
}

 section:nth-last-of-type(1){
     grid-area: sec1;
     background-color: #B3D8FD;
 }

  section:nth-last-of-type(2){
     grid-area: sec2;
     background-color: #5E86AF;
 }

  section:nth-last-of-type(3){
     grid-area: sec3;
     background-color: #6D9FD2;
 }

 main{
     grid-area: main;
     background-color: #7DA9D5;
 }

 footer{
     grid-area: footer;
     background-color: #588EC3;
 }